// Specific CSS for your home-page
h1 {font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: black;
}

p {
  color: black;
}

body {
  background-color: #FDFBFA;
}

.btn-primary {
  border-color:#FFCC81;
  background-color: #FFCC81;
  color: #FDFBFA;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
}

.btn-primary:hover{
background-color:#e2b46f;
border-color:#e2b46f;
}

.button-options {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 60px;
}

.button-child {
  margin-left: 20px;
}

.container-text-home {
  align-items: center;
  justify-content: center;
  h1 {
    letter-spacing: .2rem;
  }
  margin-top: 2.5rem;
}

.btn-search {
  color: white !important;
  background-color: $black ;
  padding: 3px 10px;
  border-radius: 10px;
  margin-bottom: 3px;
  opacity: 0.8;
    width: 200px;
    height: 40px;
}

.btn-search:hover{
  background-color: $black;
  opacity: 1;
}
