
.card-product-show {
  overflow: hidden;
  height: 220px;
  width:400px;
  background: white;
  box-shadow: 5 5 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 25px;
  border-radius: 30px;
}

.new-wrapper-pet-show img {
  display: flex;
  height: auto;
  width: 88%;
  border: 8px solid #282828;
  margin: 2.5rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  color: #225820;
}

.card-image-show {
  height: 100%;
  width: 60%;
  object-fit: cover;
}


.pet-info-show {
  color: #225820;
  margin-bottom: 2.5rem;
}

.pet-image-show {
  color: #225820;
  margin-top: 6.5rem;
}

.box-show {
  background-color: white;
  border-radius: 2.5px;
  box-shadow: 5 5 15px rgba(0,0,0,0.2);
}

.btn-md {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2.5rem;
}


.btn-md:after {
  content: "";
  background-color: yellow;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-md:hover:after {
  top: 0px;
  left: 0px;
}
