.container-show {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-wrap { display: flex; }

/* (B) OPTIONAL COSMETICS */
.flex-wrap > * {
  box-sizing: border-box;
  padding: 10px;
  // background: #ffe2e0;

}

.show-image {
  margin-top: 3rem;
  border: 10px solid white;

  color: #282828;
  padding: 1rem;

  p {
    font-weight: 200;
  }
}

.ul-container-show {
  background-color: none;
}


.show-info-pet {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 4px;
  text-align: left;

  padding: 2.5rem;
  color: #282828;
  font-size: 18px;
  line-height: 19px;
}

.show-btn {
  list-style-type: none;
  text-align: center;
  margin: 1.5rem;
  padding: 0;
}

.show-btn li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
