


 <%= link_to map_path do%>
  <button class="btn-login position-fixed" style=" Z-index: 2; bottom: 100px; right:700px;"><i class="fa-regular fa-map"></i> Map</button>
      <% end %>

<div class=" container">
  <%= link_to new_pet_path do%>
  <button class="btn-lg"><i class="fa-solid fa-circle-plus "></i> Add pet</button>
      <% end %>
</div>



   <%= render "shared/search" %>
  <%= render "shared/cards" %>


</div>
</div>
