

<div class="container parent flex-center">
  <h1 class="header-all-pets">Find a Pet for you!</h1>
  <div class="wrap child flex-center">
    <div data-controller="map"
            id="map"
            class="map-sweet"
            data-map-target="map"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            data-map-markers-value="<%=  @markers.to_json %>"
            style="width: 80%; height: 600px;">
    </div>
  </div>
</div>



<div class="container">
      <%= link_to new_pet_path do%>
  <button class="btn-lg"><i class="fa-solid fa-circle-plus "></i> Add pet</button>
      <% end %>

  </div>
  <%= render "shared/cards" %>


</div>
