<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1573435567032-ff5982925350?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);">
  <div class="container">
    <h1>Welcome to <strong>Sweet paw! </strong> </h1>
    <p>We have all kind of pets here. Innocent? Mischievous? Grumpy? You name it. We have them.</p>
    <a class="btn-sign-up" href="/users/sign_up">Sign Up</a>
  </div>
</div>
