<div class="cards-container-homepage">
  <h2 class='section-headline'>Check out our Pets:</h2>

  <div class="cards-home">

    <% @pets.each do |pet| %>
      <div class="card-product">
        <div class="card-product-infos">
          <div>
            <h3><%= pet.name %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
