<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/dvnishshanka/sweet-paw" target="blank"><i class="fab fa-github"></i></a>
    Coded by the Book-Buddies
  </div>
  <div class="footer-copyright">
    We are ready to share pet <i class="fa-solid fa-heart" style="font-size: 15px; color: red;"></i>
  </div>
</div>
