<div class="p-5 m-0" style="color: black; background-color:#f3eded; width:100%;">
  <div class="cards-dashboard">
    <br>
    <h4 >Welcome back <%= current_user.first_name.capitalize %> !</h4>
    <hr>

      <h5 class="p-0">My Bookings: </h5>

       <% if @bookings.length >0 %>
       <%= render 'shared/bookmark' %>
        <% else %>
        <h6>You don't have any bookings.</h6>
      <% end %>

      <hr>

      <h5>My Pets:
      <%= link_to new_pet_path do%>
  <button class="btn-sign-up float-end"><i class="fa-solid fa-circle-plus "></i> Add pet</button>
      <% end %>
      </h5>

      <% if @pets.length >0 %>
        <%= render 'shared/my_pet_card' %>
        <% else %>
        <h6>You have not added any pets.</h6>
      <% end %>

  </div>
</div>
