<div class="cards-container-dashboard">

    <div class="cards-dashboard">
<h1>Welcome back <%= current_user.first_name %></h1>

<%= render 'shared/bookmark' %>

<% if @pets.length >0 %>
<%= render 'shared/cards' %>
<% end %>
</div>
