<div class="cards-container-dashboard container">

    <div class="cards-dashboard">
    <br>
<h3>Welcome <%= current_user.first_name %> !</h3>
<hr>

<%= render 'shared/bookmark' %>

<% if @pets.length >0 %>
<%= render 'shared/cards' %>
<% end %>
</div>
