 <%= render "shared/banner" %>

<div class="text-container">
<h1>Welcome to Sweet paw!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Adipisci doloribus veritatis quibusdam quam,<br> recusandae eius maiores asperiores quia exercitationem veniam,<br>
 ex distinctio ducimus, ab facilis commodi? Cumque fuga facere fugiat?</p>
</div>

<%= render 'shared/cards' %>
