<%= render "shared/banner" %>


<div class="container-text-home d-flex">
  <div class="box">
    <h1>We are ready to share Pet Love!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Adipisci doloribus veritatis quibusdam quam,<br> recusandae eius maiores asperiores quia exercitationem veniam,<br>
    ex distinctio ducimus, ab facilis commodi? Cumque fuga facere fugiat?</p>
  </div>

</div>

<%= render 'shared/cards' %>
