<div class=" container d-flex justify-content-between align-items-center" style="height:80vh" >

  <div class="p-3 m-5" style="border-width: thick; height:330px;   border-style: solid;  border-width: 10px;
  border-color:white;">
    <div class="container" style="height:230px;">
      <h1>Welcome to <strong>Sweet paw! </strong> </h1>
      <p>We have all kind of pets here. Innocent? Mischievous? Grumpy? You name it. We have them.</p>

      <h1 class="text-shadow" style="font-size:20px">
      We are ready to share Pet Love!</h1>
      <br>

      <div class="d-flex">
        <a class="btn-sign-up me-3" href="/users/sign_up">Sign Up</a>
        <div>
<%= form_with url: pets_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control btn-search",
            placeholder: "Find your pet" %> <%end %>

      </div>
    </div>
  </div>
  </div>

  <div class="d-flex justify-content-end flex-column align-items-end mb-3">
   <div style = "background-image: url(https://images.unsplash.com/photo-1608096281339-5bcae1ec2f12?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80); width: 300px; height: 200px; border-width: thick;   border-style: solid;  border-width: 10px;
  border-color: rgb(255, 255, 255); background-size: cover; margin-bottom: 10px"></div>
    <div style = "background-image: url(https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); width: 300px; height: 300px; border-width: thick;   border-style: solid;  border-width: 10px;
  border-color: rgb(255, 255, 255); background-size: cover;"></div>
    </div>
    <div class="mb-3 ms-3"style = "background-image: url(https://images.unsplash.com/photo-1541364983171-a8ba01e95cfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80); width: 350px; height: 450px; border-width: thick;   border-style: solid;  border-width: 10px;
  border-color: rgb(255, 255, 255); background-size: cover;"></div>
  </div>

</div>
