<%= render "shared/banner" %>


<div class="container-text-home d-flex">
  <div class="box">
    <h1 class="text-shadow">We are ready to share Pet Love!</h1>
  </div>

</div>

<%= render 'shared/cards' %>
