.banner {
  background-size: cover;
  background-position: top;
  padding: 150px 0;
  margin-top: 0px;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-sign-up {
  padding: 10px 20px;
  background-color: $black ;
  opacity: 0.8;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-sign-up:hover{
  color: white;
  background-color: $black;
  opacity: 1;
}

.btn-login {
  padding: 3px 10px;
  color: white !important;
  background-color: $black ;
  text-align: center;
  opacity: 0.8;
margin-bottom: 3px;
  text-decoration: none;
  border-radius: 10px;
  width: 100px;
  height: 35px;
}

.btn-login:hover{
  background-color: $black;
  opacity: 1;
}
