.image-holder {

  width: 40vw;
  height: 53vh;
  background-size: cover;
  background-position: center;
}

.btn-green {
  margin-top: 200px;
}

.flatpickr-day:hover {

 background-color: #225820;
 color: white;
}
