
/* BTN ADD PET */
.btn-add-pet {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2.5rem;
}


.btn-add-pet:after {
  content: "";
  background-color: white;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-add-pet:hover:after {
  top: 0px;
  left: 0px;
}

.btn-green {
  color:  white;
  padding: 10px 20px;
  background-color:  #225820;
  border: 1px solid black;
  opacity: 0.8;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}







/* BTN LARGE */

.btn-lg {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 30px 30px 30px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2.5rem;
}

.btn-lg:after {
  content: "";
  background-color: white;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-lg:hover:after {
  top: 0px;
  left: 0px;
}


/* BTN MD */





/* BTN BOOK A PET */



.btn-book-pet {
  color:  #282828;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid black;
  opacity: 0.8;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}


.btn-book-pet:hover {
  color: #282828;
  transition: 0.2s;
  cursor: pointer;
  background-color: yellow;
}




.btn-return {
  color: white;
  padding: 10px 20px;
  background-color: black;
  border: 1px solid #282828;
  opacity: 0.8;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.btn-return:hover {
  color:  yellow;
  transition: 0.2s;
  cursor: pointer;
}


/* MQ */

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}
