

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* MQ */
@media screen and (max-width: 600px) {
  .cards-home {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
