//Section headline
.section-headline {
  display: flex;
  height: fit-content;
  color: #225820;
  justify-content:center;
  font-weight: lighter;
  padding: 0.5rem;
  margin-bottom: 2.5rem;
  background: radial-gradient(circle, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link-learn-more {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 7px 10px 7px;
  color: #282828;
  font-weight: bold;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

.link-learn-more:after {
  content: "";
  background-color: yellow;
  width: 100%;
  z-index: -1;
  position: absolute;
  color: #282828;
  font-weight: bold;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.link-learn-more:hover:after {
  top: 0px;
  left: 0px;
}





/* MQ */
@media screen and (max-width: 600px) {
  .cards-home {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
