.card-product {
  a {
    color: #282828;
    text-decoration: none;
  }
  overflow: hidden;
  background: $white;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);

  color: #282828;
  text-decoration: none;

}

.card-product > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #282828;
  text-decoration: none;
}

.card-product p {
  font-size: 10px;
  opacity: .7;
  margin: 0;
  color: #282828;
  text-decoration: none;
}

.card-product a {
  color: #282828;
  text-decoration: none;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #282828;
  text-decoration: none;
}

.card-product-infos .card-product-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  color: #282828;
  text-decoration: none;
}
.cards {
  justify-content: space-evenly;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 20px;
}

.card-product {
  img {
  height: 200px;
  width: 200px !important;

  }
}

.pet-link {
  text-decoration: none;
}

.name {
  h1 {
    font-weight: lighter;
  }
}

.showpage-title {
  color: #ddd;
  margin-left: 18px;
}

.cards-container-homepage {
display: flex;
padding: 20px;
margin-top: 24px;
}

.cards-home {
  margin-top: 24px;
  justify-content: space-evenly;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 20px;
}

.new-wrapper {
  img {
    height: 300px;
    width: 300px !important;
  }
}

// btn-cards-create-new-pet
.btn-create-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 20px;
  color:#225820;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  border-radius: 3.2px;
}


//Section headline
.section-headline {
  display: flex;
  height: fit-content;
  color: $white;
  justify-content: center;
  font-weight: lighter;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #225820;
  background: radial-gradient(circle, rgb(33, 123, 81) 0%, rgb(27, 87, 69) 100%);
}

/* MQ */
@media screen and (max-width: 600px) {
  .cards-home {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
