.card-product {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width:300px;
  background: white;
  margin-bottom: 20px;
  margin-top: 25px;
border-radius: 10px;
}

.card-product:hover {
  transform: scale(1.02);
}

.card-image img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-product-infos {
  flex-grow: 10;
  .info-name{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

}

.card-product p {
  color: black;
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  margin-left: 0;
}
