.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.btn-map {
color:  white;
padding: 10px 15px;
background-color:  #225820;
border: 1px solid black;
opacity: 0.8;
text-decoration: none;
border-radius: 5px;
box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}


p {
  font-weight: 600;
  margin-top: 20px;
}
