

.navbar-sweet-paw {
  justify-content: space-between;
margin-top: 0px;
height: 40px;
font-size: 17px;
position: sticky;
top:0;
background-color:#ffe01b;
opacity: 1;
}

.navbar-sweet-paw .navbar-collapse {
  flex-grow: 0;
}
