.form-actions-add-pet {
  color: red;
  padding: 10px 20px;
  background-color: black;
  opacity: 0.8;
  text-decoration: none;
  border-radius: 5px;

}

.btn-add-pet {
  color: red;
  padding: 10px 20px;
  background-color: black;
  opacity: 0.8;
  text-decoration: none;
  border-radius: 5px;
}
